.syntax .hll { background-color: #ffffcc }
.syntax  { background: #1c1c1c; color: #8a8a8a }
.syntax .c { color: #4e4e4e } /* Comment */
.syntax .err { color: #8a8a8a } /* Error */
.syntax .esc { color: #8a8a8a } /* Escape */
.syntax .g { color: #8a8a8a } /* Generic */
.syntax .k { color: #5f8700 } /* Keyword */
.syntax .l { color: #8a8a8a } /* Literal */
.syntax .n { color: #8a8a8a } /* Name */
.syntax .o { color: #8a8a8a } /* Operator */
.syntax .x { color: #d75f00 } /* Other */
.syntax .p { color: #8a8a8a } /* Punctuation */
.syntax .ch { color: #4e4e4e } /* Comment.Hashbang */
.syntax .cm { color: #4e4e4e } /* Comment.Multiline */
.syntax .cp { color: #5f8700 } /* Comment.Preproc */
.syntax .cpf { color: #4e4e4e } /* Comment.PreprocFile */
.syntax .c1 { color: #4e4e4e } /* Comment.Single */
.syntax .cs { color: #5f8700 } /* Comment.Special */
.syntax .gd { color: #af0000 } /* Generic.Deleted */
.syntax .ge { color: #8a8a8a; font-style: italic } /* Generic.Emph */
.syntax .gr { color: #af0000; font-weight: bold } /* Generic.Error */
.syntax .gh { color: #d75f00 } /* Generic.Heading */
.syntax .gi { color: #5f8700 } /* Generic.Inserted */
.syntax .go { color: #8a8a8a } /* Generic.Output */
.syntax .gp { color: #8a8a8a } /* Generic.Prompt */
.syntax .gs { color: #8a8a8a; font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #0087ff } /* Generic.Subheading */
.syntax .gt { color: #8a8a8a } /* Generic.Traceback */
.syntax .kc { color: #d75f00 } /* Keyword.Constant */
.syntax .kd { color: #0087ff } /* Keyword.Declaration */
.syntax .kn { color: #d75f00 } /* Keyword.Namespace */
.syntax .kp { color: #5f8700 } /* Keyword.Pseudo */
.syntax .kr { color: #0087ff } /* Keyword.Reserved */
.syntax .kt { color: #af0000 } /* Keyword.Type */
.syntax .ld { color: #8a8a8a } /* Literal.Date */
.syntax .m { color: #00afaf } /* Literal.Number */
.syntax .s { color: #00afaf } /* Literal.String */
.syntax .na { color: #8a8a8a } /* Name.Attribute */
.syntax .nb { color: #0087ff } /* Name.Builtin */
.syntax .nc { color: #0087ff } /* Name.Class */
.syntax .no { color: #d75f00 } /* Name.Constant */
.syntax .nd { color: #0087ff } /* Name.Decorator */
.syntax .ni { color: #d75f00 } /* Name.Entity */
.syntax .ne { color: #af8700 } /* Name.Exception */
.syntax .nf { color: #0087ff } /* Name.Function */
.syntax .nl { color: #8a8a8a } /* Name.Label */
.syntax .nn { color: #8a8a8a } /* Name.Namespace */
.syntax .nx { color: #8a8a8a } /* Name.Other */
.syntax .py { color: #8a8a8a } /* Name.Property */
.syntax .nt { color: #0087ff } /* Name.Tag */
.syntax .nv { color: #0087ff } /* Name.Variable */
.syntax .ow { color: #5f8700 } /* Operator.Word */
.syntax .w { color: #8a8a8a } /* Text.Whitespace */
.syntax .mb { color: #00afaf } /* Literal.Number.Bin */
.syntax .mf { color: #00afaf } /* Literal.Number.Float */
.syntax .mh { color: #00afaf } /* Literal.Number.Hex */
.syntax .mi { color: #00afaf } /* Literal.Number.Integer */
.syntax .mo { color: #00afaf } /* Literal.Number.Oct */
.syntax .sb { color: #4e4e4e } /* Literal.String.Backtick */
.syntax .sc { color: #00afaf } /* Literal.String.Char */
.syntax .sd { color: #00afaf } /* Literal.String.Doc */
.syntax .s2 { color: #00afaf } /* Literal.String.Double */
.syntax .se { color: #af0000 } /* Literal.String.Escape */
.syntax .sh { color: #00afaf } /* Literal.String.Heredoc */
.syntax .si { color: #00afaf } /* Literal.String.Interpol */
.syntax .sx { color: #00afaf } /* Literal.String.Other */
.syntax .sr { color: #af0000 } /* Literal.String.Regex */
.syntax .s1 { color: #00afaf } /* Literal.String.Single */
.syntax .ss { color: #00afaf } /* Literal.String.Symbol */
.syntax .bp { color: #0087ff } /* Name.Builtin.Pseudo */
.syntax .vc { color: #0087ff } /* Name.Variable.Class */
.syntax .vg { color: #0087ff } /* Name.Variable.Global */
.syntax .vi { color: #0087ff } /* Name.Variable.Instance */
.syntax .il { color: #00afaf } /* Literal.Number.Integer.Long */
